/* Utilities style */
.text-align-center {
  text-align: center;
}

/* Custom style */
.my-app-container {
  margin-top: 30px;
}

.list-beer-container {
  width: 80%;
  height: 100vh;
  margin: auto;
  margin-top: 40px;
  padding: 30px;
  margin-bottom: 600px;
}

.beers-img {
  margin: 20px 40px 10px;
  width: 40px;
  max-height: 120px;
}

.beer-card-text-content {
  overflow: hidden;
}

.beer-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.beer-text-content span {
  display: block;
}
.beer-tagline {
  color: #d29a28;
  font-size: inherit;
}

.beer-description {
  margin-top: 10px;
}

.empty-state-container {
  background-color: rgb(248, 243, 243);
  padding: 30px;
  width: 100%;
  height: 50vh;
  text-align: center;
  padding-top: 10.5em;
}

.tab-container {
  position: relative;
}

.add-beer-button-container {
  position: absolute;
  top: 0px;
  right: 0px;
}

.click-here-text {
  color: #0b5ed7;
  cursor: pointer;
}

.form-beers-img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
  border: 1px solid rgb(231, 229, 229);
  padding: 10px;
}

.load-more-button {
  color: #0b5ed7;
  cursor: pointer;
  text-align: center;
  padding: 10px;
}
